#nameInput {
  font-weight: bold;
}

.chat {
  padding-top:2px;
}

.chat-div {
  /*position: relative;*/

  /*margin-left:750px;*/
  /*margin-top:700px;*/
  font-size: 0.7em;
  padding:2px;
  width:800px;
  height:600px;
  border:solid 1px black;
  overflow-y:scroll;
  display: block;
  /*float:left;*/
}

/*body {
  border: solid 1px black;
}*/
