body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.spacer {
  margin: 20px; /* define margin as you see fit */
}

#title{
  font-size: 24px;
  color: black;
}
 .listBox{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  width:300px;
  margin:10px;
  padding: 10px;
}
.topic{
  border: 2px solid;
  border-radius: 25px;
  border-color: #00B7FF;
  list-style-type: none;
  box-shadow: 3px 3px 5px #888888;
  width:250px;
}
.newList{
  width:300px;
  min-height: 300px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

#profile{
  margin-left: 80%;
  margin-left: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 30px;
}

/*
.bootbox {
position: fixed;
bottom: 25%;
right: 0;
margin-bottom: 0;
font-size: 1.2em;
padding: 1em 1.3em;
z-index: 2000;
}*/
