body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.spacer {
    margin: 20px; /* define margin as you see fit */
}

#title{
  font-size: 24px;
  color: black;
}

#profile{
  float: right;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 30px;
}

.chair-pics{
  height: 50px;
  width: 50px;
  border-radius: 10px 10px 0px 0px;
}
.label{
  padding-left: 0.8em !important;
}
/*
.bootbox {
position: fixed;
bottom: 25%;
right: 0;
margin-bottom: 0;
font-size: 1.2em;
padding: 1em 1.3em;
z-index: 2000;
}*/
