<!-- This view file shows the kitchen and thumbs videos to the user
It was hastily hacked and needs refactoring to fix its currrent conditions. The non breaking white spaces are particularly tragic -->
<div>

  <div>
  <!-- Kitchen tables and seats view -->
    <div class="panel panel-default container col-md-6">
      <div class="row">

        <div class="btn-group spacer" role="group" aria-label="Table1">
          <button  type="button" ng-click="doClick(seats.table1.seat1, $event)" class="btn btn-default seat"> &nbsp &nbsp  &nbsp &nbsp <img class="chair-pics" src="{%seats.table1.seat1.avatar || 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.hi.png'%}" ></img>&nbsp &nbsp  &nbsp &nbsp  <br> {%seats.table1.seat1.name || 'seat 1'%}</button>
          <button  type="button" ng-click="doClick(seats.table1.seat2, $event)" class="btn btn-default seat"> &nbsp &nbsp  &nbsp &nbsp <img class="chair-pics" src="{%seats.table1.seat2.avatar || 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.hi.png'%}" ></img>  &nbsp &nbsp  &nbsp &nbsp  <br> {%seats.table1.seat2.name|| 'seat 2'%}</button>
          <h1><span class="label label-info" ng-click="viewThumbs('table1')"> &nbsp &nbsp  &nbsp &nbsp   Table 1  &nbsp  &nbsp &nbsp  &nbsp &nbsp </span></h1>
          <button type="button" ng-click="doClick(seats.table1.seat3, $event)" class="btn btn-default seat"> &nbsp &nbsp  &nbsp &nbsp <img class="chair-pics" src="{%seats.table1.seat3.avatar || 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.hi.png'%}" ></img>   &nbsp &nbsp  &nbsp &nbsp <br> {%seats.table1.seat3.name || 'seat 3'%}</button>
          <button type="button" ng-click="doClick(seats.table1.seat4, $event)" class="btn btn-default seat"> &nbsp &nbsp  &nbsp &nbsp <img class="chair-pics" src="{%seats.table1.seat4.avatar || 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.hi.png'%}" ></img>   &nbsp &nbsp  &nbsp &nbsp <br> {%seats.table1.seat4.name|| 'seat 4'%}</button>
        </div>

        <div class="btn-group spacer" role="group" aria-label="Table2">
          <button type="button" ng-click="doClick(seats.table2.seat1, $event)" class="btn btn-default seat"> &nbsp &nbsp  &nbsp &nbsp <img class="chair-pics" src="{%seats.table2.seat1.avatar || 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.hi.png'%}" ></img>   &nbsp &nbsp  &nbsp &nbsp <br> {%seats.table2.seat1.name|| 'seat 1'%}</button>
          <button type="button" ng-click="doClick(seats.table2.seat2, $event)" class="btn btn-default seat"> &nbsp &nbsp  &nbsp &nbsp <img class="chair-pics" src="{%seats.table2.seat2.avatar || 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.hi.png'%}" ></img>   &nbsp &nbsp  &nbsp &nbsp <br> {%seats.table2.seat2.name|| 'seat 2'%}</button>
          <h1><span class="label label-info" ng-click="viewThumbs('table2')"> &nbsp  &nbsp &nbsp  &nbsp Table 2 &nbsp &nbsp  &nbsp  &nbsp &nbsp </span></h1>
          <button type="button" ng-click="doClick(seats.table2.seat3, $event)" class="btn btn-default seat"> &nbsp &nbsp  &nbsp &nbsp <img class="chair-pics" src="{%seats.table2.seat2.avatar || 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.hi.png'%}" ></img>   &nbsp &nbsp  &nbsp &nbsp <br> {%seats.table2.seat3.name|| 'seat 3'%}</button>
          <button type="button" ng-click="doClick(seats.table2.seat4, $event)" class="btn btn-default seat"> &nbsp &nbsp  &nbsp &nbsp <img class="chair-pics" src="{%seats.table2.seat4.avatar || 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.hi.png'%}" ></img>   &nbsp &nbsp  &nbsp &nbsp <br> {%seats.table2.seat4.name|| 'seat 4'%}</button>
        </div>

        <div class="btn-group spacer" role="group" aria-label="Table3">
          <button type="button" ng-click="doClick(seats.table3.seat1, $event)" class="btn btn-default seat">  &nbsp &nbsp  &nbsp &nbsp <img class="chair-pics" src="{%seats.table3.seat1.avatar || 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.hi.png'%}" ></img>  &nbsp &nbsp  &nbsp &nbsp  <br> {%seats.table3.seat1.name|| 'seat 1'%}</button>
          <button type="button" ng-click="doClick(seats.table3.seat2, $event)" class="btn btn-default seat"> &nbsp &nbsp  &nbsp &nbsp <img class="chair-pics" src="{%seats.table2.seat2.avatar || 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.hi.png'%}" ></img>   &nbsp &nbsp  &nbsp &nbsp  <br> {%seats.table3.seat2.name|| 'seat 2'%}</button>
          <h1><span class="label label-info" ng-click="viewThumbs('table3')"> &nbsp &nbsp  &nbsp &nbsp   Table 3  &nbsp &nbsp &nbsp  &nbsp &nbsp </span></h1>
          <button type="button" ng-click="doClick(seats.table3.seat3, $event)" class="btn btn-default seat"> &nbsp &nbsp  &nbsp &nbsp <img class="chair-pics" src="{%seats.table3.seat3.avatar || 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.hi.png'%}" ></img>   &nbsp &nbsp  &nbsp &nbsp <br> {%seats.table3.seat3.name|| 'seat 3'%}</button>
          <button type="button" ng-click="doClick(seats.table3.seat4, $event)" class="btn btn-default seat"> &nbsp &nbsp  &nbsp &nbsp <img class="chair-pics" src="{%seats.table3.seat4.avatar || 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.hi.png'%}" ></img>   &nbsp &nbsp  &nbsp &nbsp <br> {%seats.table3.seat4.name|| 'seat 4'%}</button>
        </div>

        <div class="btn-group spacer" role="group" aria-label="Table4">
          <button  type="button" ng-click="doClick(seats.table4.seat1, $event)" class="btn btn-default seat"> &nbsp &nbsp  &nbsp &nbsp <img class="chair-pics" src="{%seats.table4.seat1.avatar || 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.hi.png'%}" ></img>   &nbsp &nbsp  &nbsp &nbsp <br> {%seats.table4.seat1.name|| 'seat 1'%}</button>
          <button  type="button" ng-click="doClick(seats.table4.seat2, $event)" class="btn btn-default seat"> &nbsp &nbsp  &nbsp &nbsp <img class="chair-pics" src="{%seats.table4.seat2.avatar || 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.hi.png'%}" ></img>   &nbsp &nbsp  &nbsp &nbsp <br> {%seats.table4.seat2.name|| 'seat 2'%}</button>
          <h1><span class="label label-info" ng-click="viewThumbs('table4')"> &nbsp &nbsp  &nbsp &nbsp   Table 4  &nbsp &nbsp &nbsp  &nbsp &nbsp </span></h1>
          <button type="button" ng-click="doClick(seats.table4.seat3, $event)" class="btn btn-default seat"> &nbsp &nbsp  &nbsp &nbsp <img class="chair-pics" src="{%seats.table4.seat3.avatar || 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.hi.png'%}" ></img>   &nbsp &nbsp  &nbsp &nbsp <br> {%seats.table4.seat3.name|| 'seat 3'%}</button>
          <button type="button" ng-click="doClick(seats.table4.seat4, $event)" class="btn btn-default seat"> &nbsp &nbsp  &nbsp &nbsp <img class="chair-pics" src="{%seats.table4.seat4.avatar || 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.hi.png'%}" ></img>   &nbsp &nbsp  &nbsp &nbsp <br> {%seats.table4.seat4.name|| 'seat 4'%}</button>
        </div>

<!--   <div ng-show="{{admin}}"> -->
    <button ng-click="clearRoom()" class="btn btn-default seat">Clear Room</button>
    </div>
  </div>

</div>



