<div id="topicbox">
<ul class="draggable-objects">
            <!-- ngRepeat: obj in draggableObjects --><li ng-repeat="obj in draggableObjects" class="ng-scope">
                <div ng-drag="true" ng-drag-data="obj" class="ng-binding" draggable="false"> one </div>
            </li><!-- end ngRepeat: obj in draggableObjects --><li ng-repeat="obj in draggableObjects" class="ng-scope">
                <div ng-drag="true" ng-drag-data="obj" class="ng-binding" draggable="false"> two </div>
            </li><!-- end ngRepeat: obj in draggableObjects --><li ng-repeat="obj in draggableObjects" class="ng-scope">
                <div ng-drag="true" ng-drag-data="obj" class="ng-binding" draggable="false"> three </div>
            </li><!-- end ngRepeat: obj in draggableObjects -->
</ul>
</div>
